.app-container .obj {
  top: 212px;
  width: 1000px;
  height: 600px;
  background-color: var(--secondary-white);

  position: absolute;
  z-index: -1;

  border-radius: 300px 300px 300px 0;
}

.app-container .section-projects {
  height: 988px;
}

.app-container .section-projects .projects-grid {
  height: 100%;
  margin-top: 120px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 32px 30px;
}

.app-container .section-design .container-design .design-web {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/home/desktop/image-web-design.jpg");
  background-repeat: no-repeat;
}

.app-container .section-design .container-design .design-graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/home/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
}

.app-container .section-design .container-design {
  margin-top: 120px;

  width: 100%;
  height: 308px;
}

.app-container .section-design .container-design .design-web:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/home/desktop/image-web-design.jpg");
}

.app-container .section-design .container-design .design-graphic:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/home/desktop/image-graphic-design.jpg");
}

.app-container .section-design .container-design ul {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}
