.contact-container .container {
  margin-bottom: 220px;
}

.contact-container .hero {
  width: auto;
  height: 480px;

  background-color: var(--primary-peach);
  background-image: url("/public/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 10px -120px;

  border-radius: 20px;
}

.contact-container .hero .hero-parts {
  display: flex;
  height: 100%;
}

.contact-container .hero .parts-info {
  margin-left: 100px;
  width: 50%;

  /* height: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container .hero .hero-parts .parts-info h1 {
  color: var(--primary-white);

  font-weight: 400;
}

.contact-container .hero .hero-parts .parts-info p {
  color: var(--primary-white);
  padding-right: 100px;
}

.contact-container .hero .hero-parts .parts-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.contact-container form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.contact-container .btn {
  margin-top: 24px;

  display: flex;
  justify-content: end;
}

.contact-container button {
  font-size: 15px;
  font-weight: 500;
}
