/* @media screen and (min-width: 1200px) {
  .section-countries {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
  }

  .section-countries .country {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-countries .country div {
    background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");

    background-repeat: no-repeat;
  }
} */

/* @media screen and (max-width: 1200px) and (min-width: 768px) { */
.section-countries {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;

  .country {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");

      background-repeat: no-repeat;
    }
  }
}
/* } */
