/* @media screen and (min-width: 1200px) {
  li.design-cell-container {
    width: 541px;

    border-radius: 20px;
  }

  li.design-cell-container a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    position: relative;

    z-index: 0;

    border-radius: 20px;
  }

  li.design-cell-container a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 20px;

    opacity: 0.5;

    transition: opacity 0.5s;

    z-index: 1;
  }

  .design-cell-container a:hover::before {
    opacity: 0.7;
  }

  .design-cell-container a > * {
    z-index: 2;
  }

  .design-cell-container h2 {
    color: var(--primary-white);
    font-weight: 500;
  }

  .design-contents {
    display: flex;
    justify-content: center;
  }

  li.design-cell-container h3 {
    color: var(--primary-white);
    font-weight: 400;
    font-size: 16px;
    margin-top: -22px;
  }

  li.design-cell-container span {
    color: var(--primary-peach);
    font-size: 24px;
    font-weight: 400;
    margin-left: 14px;
    margin-top: -24px;
  }
} */

/* @media screen and (max-width: 1200px) and (min-width: 768px) {
li.design-cell-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;

  a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    background-position: 60%;

    z-index: 0;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 20px;

    opacity: 0.5;

    transition: opacity 0.5s;

    z-index: 1;
  }

  a > * {
    z-index: 2;
  }

  h2 {
    color: var(--primary-white);
    font-weight: 500;
  }

  .design-contents {
    display: flex;
    justify-content: center;
  }

  h3 {
    color: var(--primary-white);
    font-weight: 400;
    font-size: 16px;
    margin-top: -22px;
  }

  span {
    color: var(--primary-peach);
    font-size: 24px;
    font-weight: 400;
    margin-left: 14px;
    margin-top: -24px;
  }
}

} */

/* @media screen and (max-width: 767px) { */
li.design-cell-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;

  a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    background-position: 60%;

    /* z-index: 0; */
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 20px;

    opacity: 0.5;

    z-index: 1;
  }

  a > * {
    z-index: 2;
  }

  h2 {
    color: var(--primary-white);
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 36px;
    font-weight: 500;
  }

  .design-contents {
    display: flex;
    justify-content: center;
  }

  h3 {
    width: 177px;

    margin: 0;
    color: var(--primary-white);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: -12px;
  }

  span {
    color: var(--primary-peach);
    font-size: 15px;
    font-weight: 400;
    margin-left: 14px;
    margin-top: -14px;
  }
}
/* } */
