.home-container .obj {
  top: 475px;
  width: 1000px;
  height: 600px;
  background-color: var(--secondary-white);

  position: absolute;
  z-index: -1;

  border-radius: 300px 300px 300px 0;
}

.home-container .rotate {
  top: 1770px;
  right: 0;

  rotate: 180deg;
}
.home-container .hero {
  width: auto;
  height: 640px;

  background-color: var(--primary-peach);
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 100%;
}

.home-container .hero .hero-parts {
  display: flex;
  height: 100%;
}

.home-container .hero .parts-info {
  margin-left: 100px;
  width: 50%;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container .hero .hero-parts .parts-info h1 {
  color: var(--primary-white);

  font-weight: 400;
}

.home-container .hero .hero-parts .parts-info p {
  color: var(--primary-white);
  padding-right: 100px;
}

.home-container .hero .hero-parts .parts-info button {
  margin-top: 40px;
  font-weight: 600;
}

.home-container .hero .hero-parts .parts-image {
  width: 45%;
  overflow: hidden;
  margin-left: -44px;
  margin-top: -20px;
}

.home-container .section-design .container-design {
  margin-top: 120px;

  width: 100%;
  height: 640px;
}

.home-container .section-design .container-design ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 28px 36px;
}

.home-container .section-design .container-design ul li a {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container .section-design .container-design .design-web {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/home/desktop/image-web-design-large.jpg");
  background-repeat: no-repeat;

  border-radius: 20px;

  grid-row: 1 / 3;
  grid-column: 1 / 2;

  cursor: pointer;
}

.home-container .section-design .container-design .design-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/home/desktop/image-app-design.jpg");
  border-radius: 20px;

  grid-row: 1 / 2;
  grid-column: 2 / 3;

  cursor: pointer;
}

.home-container .section-design .container-design .design-graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/home/desktop/image-graphic-design.jpg");
  border-radius: 20px;

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  cursor: pointer;
}

.home-container .section-design .container-design .design-web:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/home/desktop/image-web-design-large.jpg");
}

.home-container .section-design .container-design .design-app:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/home/desktop/image-app-design.jpg");
}
.home-container .section-design .container-design .design-graphic:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/home/desktop/image-graphic-design.jpg");
}

.home-container .section-design .container-design ul li h2 {
  color: var(--primary-white);
  font-weight: 500;
}

.home-container .section-design .container-design ul li h3 {
  color: var(--primary-white);
  font-weight: 400;
  font-size: 16px;
  margin-top: -22px;
}

.home-container .section-design .container-design ul li span {
  color: var(--primary-peach);
  font-size: 24px;
  font-weight: 400;
  margin-left: 14px;
  margin-top: -24px;
}

.home-container .section-design .container-design .design-contents {
  display: flex;
  justify-content: center;
}

.home-container .section-qualities {
  margin-top: 120px;

  display: flex;
}

.home-container .section-qualities .qualities {
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: 212px 212px;
  background-repeat: no-repeat;
  background-position: 80px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
}

.home-container .section-qualities .qualities p {
  text-align: center;
  width: 70%;

  color: var(--secondary-black);
}

.home-container .section-qualities .qualities h3 {
  color: var(--secondary-black);
}

/* .home-container .section-contact {
  margin-top: 120px;
  border-radius: 20px;

  background-color: var(--primary-peach);
  background-image: linear-gradient(
      to right,
      rgb(231, 129, 107, 0.5),
      rgb(231, 129, 107, 0.5)
    ),
    url("/assets/web-design/desktop/bg-pattern-intro-web.svg");

  background-size: 700px;
  background-position: 350px 150px;
  display: flex;

  position: relative;
  z-index: 1;
}

.home-container .section-contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 459px;
  margin-left: 95px;
  height: 292px;
}
.home-container .section-contact h2 {
  width: 310px;
  color: var(--primary-white);
  font-weight: 600;
}

.home-container .section-contact p {
  margin-top: -16px;
  color: var(--secondary-white);
}

.home-container .section-contact .contact-button {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;

  margin-right: 95px;
}

.home-container .section-contact button {
  font-weight: 600;
} */
