html {
  width: 100%;
}

p,
a,
span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-weight: medium;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-weight: medium;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-weight: medium;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: var(--secondary-black);
}

.dark-mode {
  color: var(--primary-white);
}

button {
  background: none;
  border: none;
  font-family: Jost;
  background-color: var(--primary-peach);
  font-size: 16px;
  border-radius: 10px;
  color: var(--primary-white);
  cursor: pointer;
  font-weight: 600;

  transition: 0.3s ease-in-out;

  width: 152px;
  height: 56px;
}

button.light-mode {
  font-weight: 500;
}

button.light-mode:hover {
  background-color: var(--secondary-peach);
}

button.dark-mode {
  background: none;
  border: none;
  font-family: Jost;
  background-color: var(--primary-white);
  font-size: 16px;
  border-radius: 10px;
  color: var(--primary-black);
  cursor: pointer;
}

button.dark-mode:hover {
  background-color: var(--secondary-peach);
  color: var(--primary-white);
}

input,
textarea {
  margin-top: 25px;
  height: 38px;
  width: 400px;

  font-family: Jost;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  color: var(--primary-white);
  background-color: transparent;

  cursor: pointer;

  &::placeholder {
    color: rgb(255, 255, 255, 0.5);
  }
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-white);
  color: var(--primary-white);
}

textarea {
  resize: none;
  height: 102px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: none;
}

ul li a {
  transition: 0.5s ease;
}

ul li a:hover {
  color: var(--primary-peach);
}

/* PC */

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLETA */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  .obj {
    display: none;
  }

  .hero {
    width: 100%;
  }

  .section-design {
    margin-top: 120px;

    .container-design {
      margin-top: 120px;

      width: 100%;

      ul {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
      }
    }
  }
}

/* TELEFON */

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .obj {
    display: none;
  }
}
