@media screen and (min-width: 1201px) {
  .locations-container .section-locations {
    display: flex;
    flex-direction: column;

    gap: 30px;
  }

  .locations-container .location {
    display: flex;
    justify-content: space-between;

    gap: 30px;
  }

  .locations-container .location .location-info,
  .locations-container .location .location-image img {
    border-radius: 20px;
  }

  .locations-container .location .location-info {
    width: 730px;

    background-color: rgba(225, 173, 155, 0.2);

    background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
    background-repeat: no-repeat;

    background-position: left 0 bottom 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .locations-container .location-info > div {
    display: flex;
    flex-direction: column;

    gap: 25px;

    width: 540px;
  }

  .locations-container .location-info h2 {
    margin: 0;
    color: var(--primary-peach);
    font-weight: 500;
  }

  .locations-container .location-office {
    display: flex;

    gap: 30px;
  }

  .locations-container .location-office p {
    display: flex;
    flex-direction: column;

    width: 255px;
    color: var(--secondary-black);
  }

  .locations-container .location .location-image img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .locations-container {
    .section-locations {
      display: flex;
      flex-direction: column;

      gap: 120px;
    }

    .location {
      .location-info,
      .location-image {
        border-radius: 20px;
      }

      height: 676px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .location-info {
        height: 326px;

        background-color: rgba(225, 173, 155, 0.2);

        background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
        background-repeat: no-repeat;

        background-position: left 0 bottom 0;

        display: flex;
        justify-content: center;
        align-items: center;

        > div {
          display: flex;
          flex-direction: column;

          gap: 24px;

          width: 540px;
        }

        h2 {
          margin: 0;
          color: var(--primary-peach);
          font-weight: 500;
        }

        .location-office {
          display: flex;

          gap: 30px;

          p {
            display: flex;
            flex-direction: column;

            width: 255px;

            color: var(--secondary-black);
          }
        }
      }

      .location-image {
        height: 50%;
        width: 100%;
        img {
          display: none;
        }
      }
    }

    .location.first,
    .location.third {
      flex-direction: column-reverse;
    }

    .first.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-canada.png");
      }
    }

    .second.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-australia.png");
      }
    }

    .third.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-uk.png");
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .locations-container {
    .section-locations {
      margin-left: auto;
      margin-right: auto;
      width: 375px;

      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .location {
      height: 714px;
      display: flex;
      flex-direction: column-reverse;

      .location-image {
        height: 320px;
        width: 100%;
        img {
          display: none;
        }
      }

      .location-info {
        height: 394px;
        background-color: rgba(225, 173, 155, 0.2);
        background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
        background-repeat: no-repeat;

        justify-content: center;
        display: flex;
        align-items: center;

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
        }

        h2 {
          margin: 0;
          color: var(--primary-peach);
          font-weight: 500;
          font-size: 32px;
          line-height: 36px;
          letter-spacing: 0px;
        }

        .location-office {
          display: flex;
          flex-direction: column;
          gap: 24px;

          p {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 255px;

            line-height: 25px;
            font-size: 15px;
            color: var(--secondary-black);
          }
        }
      }
    }

    .second.location {
      flex-direction: column;
    }

    .first.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-canada.png");
        background-position: right;
      }
    }

    .second.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-australia.png");
        background-position: 80%;
      }
    }

    .third.location {
      .location-image {
        background-image: url("/public/assets/locations/tablet/image-map-uk.png");
        background-position: 70%;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .locations-container {
    .location {
      gap: 0;

      .location-info,
      .location-image {
        border-radius: 0;
      }
    }
  }
}
