/* @media screen (min-width: 768) { 
nav {
  height: 150px;
  display: flex;
  align-items: center;

  .container-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
  }

  .logo img {
    overflow: hidden;
    width: 50px;
    margin-left: -12px;
  }

  .logo .logo-title {
    color: var(--secondary-black);
    font-size: 24px;
    font-weight: 700;
  }

  .links {
    display: flex;
    width: 370px;
  }

  .links ul {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
  }

  .container-nav ul li {
    width: max-content;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .logo .logo-title.dark-mode {
    color: var(--primary-white);
  }

  .container-nav ul li.dark-mode {
    color: var(--primary-white);
  }
}
 } 
 */

/* @media screen (max-width: 767px) { */
nav {
  max-width: 327px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  .container-nav {
    margin: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    align-items: center;

    .burger {
      padding: auto;
      background-color: transparent;
      border-radius: 0;
      background-image: url("/public/assets/shared/mobile/icon-hamburger.svg");
      background-position: center;
      height: 24px;
      width: 20px;

      background-repeat: no-repeat;
    }

    ul > * {
      display: none;
    }
  }

  .logo {
    display: flex;

    img {
      overflow: hidden;
      width: 50px;
      margin-left: -12px;
    }

    .logo-title {
      color: var(--secondary-black);
      font-size: 24px;
      font-weight: 700;
    }
  }
}

nav.footer {
  max-width: 327px;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .container-nav {
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .links {
      height: 150px;

      ul {
        height: 100%;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }

    .burger {
      display: none;
    }
    ul > * {
      display: flex;
    }
  }
  .logo {
    display: flex;

    img {
      overflow: hidden;
      width: 50px;
      margin-left: -12px;
    }

    .logo-title {
      color: var(--primary-white);
      font-size: 24px;
      font-weight: 700;
    }
  }
}

/* de facut useState si linkurile cand apesi pe burger */
/* } */
