/* @media screen and (min-width: 1200px) {
  .quality div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quality img {
    background-image: url("/public/assets/shared/desktop/bg-pattern-small-circle.svg");
  }

  .quality p {
    text-align: center;
    */

/*    width: 70%;*/
/*  
    color: var(--secondary-black);
  }

  .quality h3 {
    color: var(--secondary-black);
  }
} */

/* @media screen and (max-width: 1200px) and (min-width: 768) { */
.quality .content {
  display: flex;
  /* align-items: center; */
  gap: 48px;

  img {
    background-image: url("/public/assets/shared/desktop/bg-pattern-small-circle.svg");
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    p {
      text-align: start;
      color: var(--secondary-black);

      /* width: 70%; */
    }

    h3 {
      color: var(--secondary-black);
    }
  }
}
/* } */
