.section-contact {
  margin-top: 120px;
  border-radius: 20px;

  background-color: var(--primary-peach);
  background-image: linear-gradient(
      to left,
      rgb(231, 130, 107),
      rgba(231, 130, 107, 0)
    ),
    url("/public/assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-size: 750px;
  background-position: 350px 150px;
  display: flex;

  position: relative;
  z-index: 1;
}

.section-contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 459px;
  margin-left: 95px;
  height: 292px;
}
.section-contact h2 {
  width: 310px;
  color: var(--primary-white);
  font-weight: 600;
}

.section-contact p {
  margin-top: -16px;
  color: var(--secondary-white);
}

.section-contact .contact-button {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;

  margin-right: 95px;
}

.section-contact button {
  font-weight: 600;
}
