@media screen and (min-width: 1201px) {
  .web-container .obj {
    top: 212px;
    width: 1000px;
    height: 600px;
    background-color: var(--secondary-white);

    position: absolute;
    z-index: -1;

    border-radius: 300px 300px 300px 0;
  }

  .web-container .section-projects {
    height: 988px;
  }

  .web-container .section-projects .projects-grid {
    height: 100%;
    margin-top: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 32px 30px;
  }

  .web-container .section-design .container-design .design-app {
    background-repeat: no-repeat;
  }

  .web-container .section-design .container-design .design-graphic {
    background-repeat: no-repeat;
  }

  .web-container .section-design .container-design {
    margin-top: 120px;

    width: 100%;
    height: 308px;
  }

  .web-container .section-design .container-design ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .web-container {
    .section-projects {
      margin-top: 120px;
    }

    .container-design {
      height: 424px;
    }
  }
}

@media screen and (max-width: 768px) {
  .web-container {
    .section-projects {
      margin-top: 120px;
      height: 3068px;
    }

    .projects-grid {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .container-design {
      height: 478px;
    }

    .section-design {
      margin-top: 310px;
      width: 100%;

      .container-design {
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        width: 327px;
        height: 524px;

        display: flex;
        flex-direction: column;

        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 25px;
        }
      }
    }
  }
}
